/****** General ***********/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #f2f2f2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

/****** Header ***********/ 
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
 
header img {
    width: 70px;
    padding: 10px 0;
}
 
header nav ul {
    display: flex;
    gap: 68px;
    list-style-type: none;
}
 
header nav ul li a {
    display: block;
    font-size: 16px;
    font-weight: 400;
    padding-top: 20px;
    border-top: 2px solid transparent;
}
 
header nav ul li a:hover {
    color: var(--main-color);
    border-color: var(--main-color);
}


/****** MAIN TOP***********/
/**Find Hebergements section **/
.find-hebergements {
    margin: 40px 0 20px;
}
.find-hebergement-titles {
    margin-bottom: 35px;
}
.find-hebergement-titles h1 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 8px;
}
.find-hebergement-titles p {
    font-size: 16px;
    font-weight: 400;
}

/*FORMULAIRE*/
 form{
    display: flex;
    margin-bottom: 35px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 50px;
}
 form span {
    width: 50px;
    height: 100%;
    background: var(--main-bg-color);
    color: black;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.find-hebergement-form form span i {
    color: black; 
}
 form input {
    border: 0;
    border-top: 1px solid var(--main-bg-color);
    border-bottom: 1px solid var(--main-bg-color);
    font-size: 20px;
    color: black;
    font-weight: bold;
    padding: 0 10px;
}
 form .button-dekstop {
    border: none;
    background: var(--main-color);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    color: white;
}
form .button-mobile {
    display: none;
    border: none;
    background: var(--main-color);
    border-radius: 15px;
   padding: 15px;
    font-size: 18px;
    font-weight: bold;
    z-index: 2;
    margin-left: -20px;
}

form .button-mobile i {
    color: white;
}

/*SEARCH SECTION*/
.find-hebergement-filters {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    margin-bottom: 35px;
}

.find-hebergement-filters p {
    font-size: 18px;
    font-weight: 700;
}

.find-hebergement-filters ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
}

.find-hebergement-filters ul li {
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    font-size: 17px;
    font-weight: 700;
    padding: 4px 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    height: 50px;
}

.find-hebergement-filters ul li:hover {
    background-color: #DEEBFF;
    cursor: pointer;
}

.find-hebergement-filters ul li i {
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*INFOS SECTION*/
.find-hebergement-infos {
    display: flex;
    gap: 10px;
    padding: 10px;
}

.find-hebergement-infos span {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    width: 24px;
    height: 24px;
}

.find-hebergement-infos span i {
    font-size: 10px;
}


/****** MAIN CENTER ***********/
.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;;
}


/*SECTION CARD*/
.section-title {
    margin: 0 0 25px;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
    
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color);
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.hebergements-cards a {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    flex: 1 1 calc(33% - 20px);
}

.card-hebergements img {
    object-fit: cover;
    width: 100%;
    height: 127px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card-hebergements .card-content{
    margin-top: 5px;
    line-height: 25px;
}

.hebergements .more {
    background: none;
    font-weight: 700;
    margin-top: 20px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/*SECTION ACTIVITES*/
#activites {
    margin: 50px 0;
}

#activites h2 {
    margin: 0 0 30px 25px;
}

.activites-cards {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.activites-cards a {
  flex: 0 1 25%;
  padding: 10px;
}

.activites-cards img {
    object-fit: cover;
    width: 100%;
    height: 440px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activites-cards .card-title {
    padding: 20px;
}

/***FOOTER***/
footer {
    background-color: var(--main-bg-color);
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer h4 {
    margin-bottom: 20px;
}


footer ul {
    list-style: none;
   display: flex;
   flex-direction: column;
   gap: 10px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */

@media (max-width: 1024px) {
    /*SECTION FIND-HEBERGEMENT*/
    .find-hebergement-filters {
        gap: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    /*SECTION POPULAIRE*/
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activites-cards img {
        height: 200px;
    }

    .activites-cards .card-responsive .card-title {
        padding: 10px;
 }
}

/* Small devices (phones, less than 768px) */
@media screen and (max-width: 768px) {

    .main-container {
        margin: 0;
        padding: 0;
    }

     /*Header*/
     header {
        flex-direction: column;
        align-items: center; 
    }

    header img {
        width: 40%;
        padding: 30px;
    }

    header nav  {
        width: 100%; 
    }

    header nav ul {
        padding: 0;
        justify-content: space-around;
        gap: 0;
    }

    header nav ul li {
        width: 50%;
        text-align: center;
        padding: 0;
    }

    header nav ul li a {
        border-bottom: 2px solid #F2F2F2;
        padding-bottom: 20px;
    }

    header nav ul li a:hover {
        border-top: none;
        border-bottom: 2px solid #0065FC;
        padding-bottom: 20px;
    }

    /*Formulaire*/
    form input {
        font-size: 13px;
        width: 70%;
     }
    form .button-dekstop {
        display: none;
     }
    
    form .button-mobile {
        display: block;
     }

    /*SECTION FIND-HEBERGEMENT*/
    .find-hebergements {
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .find-hebergement-filters {
        gap: 10px;
        flex-wrap: wrap;
    }
    
    .find-hebergement-filters ul {
        justify-content: center;
    }
        
    .find-hebergement-filters ul li {
        font-size: 14px;
        padding: 5px 15px;
        flex: 1 1 45%;
    }

    /*Hebergements et populaires*/
     .hebergements-and-populaires {
        flex-direction: column-reverse;
    }

    .hebergements-and-populaires section {
        border-radius: 0;
    }

    /*Populaire*/
    .populaires {
        margin-top: 10px;
    }
     .populaires-cards {
        display: flex;
        flex-direction: column;
    }

    .populaires-cards a {
        width: 100%;
    } 

    /*Hebergements*/
    #hebergements {
      background: none;
    }
    .hebergements-cards {
        display: flex;
        flex-direction: column;
    } 

    .hebergements-cards .more {
        margin: -10px 0;
    }

    /*Activites*/
    #activites h2 {
        margin-left: 45px;
    }
    .activites-cards {
        display: flex;
        flex-direction: column;
        margin: 0 25px;
    }
}

  
@media screen and (max-width: 660px) {
    footer {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    footer ul {
        margin-bottom: 35px
    }
}


@media screen and (max-width: 470px) {
        .find-hebergement-infos span {
            width: 30px;
            height: 25px; 
        }

        .find-hebergement-infos p {
            font-size: 14px;
        }
}


/*Section find hebergements title*/
@media screen and (max-width: 375px) {
     .find-hebergement-titles h1 {
        font-size: 20px;
    }

    .find-hebergement-infos span {
        width: 35px;
        height: 25px; 
    }
}

/*FILTRES*/
@media screen and (max-width: 320px) {
    .find-hebergement-filters ul li {
    flex: 1 1 28%;
    } 
}
@media screen and (max-width: 307px) {
    .find-hebergement-filters ul li {
    flex: 1 1 50%;
    } 
}
